.opportunity-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 400px;
;
}

.opportunity-form h2 {
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    padding: 10px 10px 10px 4%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 80%;
}

form input[type="number"] {
    width: 80%;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background-color: #0056b3;
}
